.customNodeBody {
    /* width: 150px;
    height: 80px; */
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }  

  /* 위치 컨트롤 */
  /* .customNode:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    height: 20px;
    width: 40px;
    transform: translate(-50%, 0);
    background: #d6d5e6;
    z-index: 1000;
    border-radius: 4px;
    border: 2px solid #222138;
  } */
  
  /* 화살표 트리거 */ 
  div.customHandle {
    width: 50%;
    height: 50%;
    background: blue;
    position: absolute;
    top: 30%;
    left: 25%;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
  }
  